body {
  padding-top: 70px;
}

.primary-container {
	/* padding: 15px; */
	margin: 0px auto;
	/*max-width: 330px;*/
    
    border: 1px solid red;
}

.relative-conatiner {
	position: relative;
}

.clue-image{
    border-collapse: collapse;
    padding: 2px;
    width: 50%;
    max-height: 200px;
}

.clue-image-left{
    padding-right: 2px;
}

.clue-image-top{
    padding-bottom: 2px;
}

.clue-image-bottom{
    padding-top: 2px;
}

.clue-image-right{
    padding-left: 2px;
}

.fill-half {
	width: 50%; 
}

/*
#level-indicator {
	display: inline-block;
	margin: 5px;
}

#top-bar {
	background-color: gray;
	border: 1px dashed;
	border-bottom: 1px solid;
	position: relative;
}

#menu {
	position: absolute;
	height: 100%;
	width: 30px;
	right: 0;
	border-left: 1px solid black;
	cursor: pointer;
}

.clear-float {
	clear: both;
}*/

.relative-container {
    position: relative;
}

.letter-box {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    margin: 1px;
    float: left;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.letter-row {
    max-width: 220px;
}


